.registration_page
{
    border:solid 1px black; 
    width:100%;
    box-sizing:border-box;
    float:left;
}
.header
{
    border:solid 1px black;
    height:500px; 
    width:100%;
    box-sizing:border-box;
    float:left;
}
.header_container
{
   border:solid 1px black;
    height:320px; 
    margin:auto;
    width:770px;
    box-sizing:border-box;
    float:left; 
    margin: 90px;
   
}
.details
{
    border: 1px black;
    height:2000px; 
    width:100%;
    box-sizing:border-box;
    float:left;
}
.footer
{
    border:solid 1px black;
    height:500px; 
    width:100%;
    box-sizing:border-box;
    float:left; 
    background-color: rgb(64,64,64);
}
.registration_Details
{
    border:solid 1px silver;
    height:1998px; 
    margin:auto;
    width:900px;
    background-color:#f1f1f1;
   
    
}
.user_options
{
    border:solid 1px silver;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left;
    background-color:white; 
    box-shadow:0px 1px 0px 1px darkgray;
}
.new_account
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.name_details
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.email_details
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.password_details
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.confirmpassword_details
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.account
{
    border:1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.others
{
    border: 1px black;
    height:12.5%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.user_option1
{
    border: 1px black;
    height:100%; 
    width:50%;
    box-sizing:border-box;
    float:left; 
    
}
.user_option2
{
    border: 1px black;
    height:100%; 
    width:50%;
    box-sizing:border-box;
    float:left; 
}
.existing_user
{
    border: 1px black;
    height:164px; 
    margin:auto;
    width:445px;
    box-sizing:border-box;
    float:left; 
    margin-top:61px;
    margin-left:-31px;
    display:inline;
       
}
.new_user
{
    border:1px black;
    height:180px; 
    margin:auto;
    width:392px;
    box-sizing:border-box;
    float:left; 
    margin-top:56px;
    margin-left:23px;
    display:inline;
       
}
.new_account_create
{
 border: 1px black;
    height:223px; 
    margin:auto;
    width:897px;
    box-sizing:border-box;
    float:left; 
    margin-top:6px;
    margin-left:0px;
    padding-bottom:20px;
    display:inline;
    
    
}
.name
{
    border: 1px black;
    height:40%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.name_field
{
    border: 1px black;
    height:60%; 
    width:100%;
    box-sizing:border-box;
    float:left;
}  
.email
{
    border: 1px black;
    height:40%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.email_field
{
    border: 1px black;
    height:60%; 
    width:100%;
    box-sizing:border-box;
    float:left;
}  
.password
{
    border:1px black;
    height:40%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.password_field
{
    border: 1px black;
    height:60%; 
    width:100%;
    box-sizing:border-box;
    float:left;
}  
.confirmpassword
{
    border: 1px black;
    height:40%; 
    width:100%;
    box-sizing:border-box;
    float:left; 
}
.confirmpassword_field
{
    border: 1px black;
    height:60%; 
    width:100%;
    box-sizing:border-box;
    float:left;

}
.name_box
{
    border: 1px black;
    height:100px; 
    margin:auto;
    width:250px;
    box-sizing:border-box;
    float:left; 
    margin-top:0px;
    margin-left:50px;
 
}
.input_name
{
    height:120px; 
    margin:auto;
    width:770px;
    margin-top:0px;
    margin-left:50px;
    border:solid 2px crimson;
    border-radius:10px;
}
.email_box
{
    border: 1px black;
    height:100px; 
    margin:auto;
    width:250px;
    box-sizing:border-box;
    float:left; 
    margin-top:0px;
    margin-left:50px;
 
}
.input_email
{
    height:120px; 
    margin:auto;
    width:770px;
    margin-top:0px;
    margin-left:50px;
    border:solid 2px crimson;
    border-radius:10px;
}
.password_box
{
    border:1px black;
    height:100px; 
    margin:auto;
    width:250px;
    box-sizing:border-box;
    float:left; 
    margin-top:0px;
    margin-left:50px;
 
}
.input_password
{
    height:120px; 
    margin:auto;
    width:770px;
    margin-top:0px;
    margin-left:50px;
    border:solid 2px crimson;
    border-radius:10px;
}
.confirmpassword_box
{
    border: 1px black;
    height:100px; 
    margin:auto;
    width:450px;
    box-sizing:border-box;
    float:left; 
    margin-top:0px;
    margin-left:50px;
 
}
.input_confirmpassword
{
    height:120px; 
    margin:auto;
    width:770px;
    margin-top:0px;
    margin-left:50px;
    border:solid 2px crimson;
    border-radius:10px;
}
.create
{
     height:130px; 
    margin:auto;
    width:760px;
    margin-top:37px;
    margin-left:55px;
    background-color:rgb(220,20,60);
    color:whilte;
    
}
.others_box
{
   border: 1px black;
    height:100px; 
    margin:auto;
    width:564px;
    box-sizing:border-box;
    float:left; 
    margin-top:-60px;
    margin-left:-28px;
    display:inline;
       
}
.text_about_icons
{
    border 1px black;
    height:30%; 
    width:100%;
    box-sizing:border-box;
    float:left;
    display:inline;
}
.icons
{
    border:1px black;
    height:20%; 
    width:100%;
    box-sizing:border-box;
    float:left
}
.text_about_queries
{
    border: 1px black;
    height:50%; 
    width:100%;
    box-sizing:border-box;
    float:left
}
.text_field
{
    border:1px black;
    height:60px; 
    margin:auto;
    width:391px;
    box-sizing:border-box;
    float:left; 
    margin-top:18px;
    margin-left:60px;
    padding-bottom:5px;
    padding-left:10px;
}
.icon_field1
{
    border: 1px black;
    height:100%; 
    width:20%;
    box-sizing:border-box;
    float:left
}
.icon_field2
{
    border: 1px black;
    height:100%; 
    width:80%;
    box-sizing:border-box;
    float:left
}
.icon1
{
    border:1px black;
    height:100%; 
    margin:auto;
    width:85px;
    box-sizing:border-box;
    float:left;                         
    margin-left:65px;
}
.icon2
{
    border: 1px black;
    height:90%; 
    margin:auto;
    width:93px;
    box-sizing:border-box;
    float:left; 
    margin-left:-19px;
    margin-bottom:2px;
}
.queries
{
    border: 1px black;
    height:89px; 
    margin:auto;
    width:639px;
    box-sizing:border-box;
    float:left; 
    margin-top:44px;
    margin-left:281px;
}
.text_for_icons
{
    font-size: 44px;
    color:white;
    font-family: "Open Sans",sans-serif;
    
}
.create_account
{
    font-size: 55px;
    padding-bottom:40px;
    padding-left:55px;
    color:#2C2C2C;
    font-family:Arial,sans-serif;
    

}
.logo {
    border: solid 1px black;
    display: block;
    width: 100%;
    
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 105%;
  
}

.email_text
{
    border: 1px black;
    height:50%; 
    width:100%;
    box-sizing:border-box;
    float:left
}
.email_for_queries
{
    border: 1px black;
    height:50%; 
    width:100%;
    box-sizing:border-box;
    float:left
}
.email_text_text
{
   font-size: 37px;
    color:white;
    padding-left:1px;
    padding-top:10px;
    font-family: "Open Sans",sans-serif;
    
}
.email_for_queries_text
{
    font-size:47px;
    color:white;
    padding-left:90px;
    padding-bottom:20px;
    font-family: "Open Sans",sans-serif;
    
}
h2
{
    font-size: 40px;
    color:#222222;
    padding-bottom:10px;
    font-family: "Open Sans",sans-serif;
}
.existing_user_text
{
    font-size:47px;
    color:crimson;
    padding-left:90px;
    padding-bottom:20px;
    font-family: sans-serif;
    text-decoration:underline;
}
.new_user_text
{
    font-size:47px;
    color:black;
    padding-left:90px;
    padding-bottom:20px;
    font-family: sans-serif;
    
}
.others_box_text
{
    font-size:43px;
    color:crimson;
    padding-left:90px;
    padding-bottom:20px;
    font-family: sans-serif;
    text-decoration:underline;
}


